<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- RSS -->
        <link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Feed" href="{{ site.url }}/blog/feed.xml" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <!--<link rel="stylesheet" href="/css/tufte.css">-->
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1><a href="/blog/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div id="post-nav" class="clearfix">
              {% if page.previous.url %} 
                <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> 
              {% endif %} 
              {% if page.next.url %} 
                <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a> 
              {% endif %} 
            </div>

          {% include comments.html %}

        </div>

    </body>
</html>
